aiomysql==0.3.2
alembic==1.16.5
annotated-doc
annotated-types
anyio
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
cryptography
databases
defusedxml
distro
exceptiongroup
fastapi
google
google-ai-generativelanguage
google-api-core[grpc]
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
h11
httpcore
httplib2
httptools
httpx
idna
importlib_metadata
isodate
jinja-markdown
Jinja2
jinja2-markdown
jiter
Mako
Markdown
markdown2
MarkupSafe
ollama
openai
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymdown-extensions
PyMySQL
pyparsing
python-dotenv
PyYAML
qstash
requests
rsa
sniffio
soupsieve
SQLAlchemy
starlette
tomli
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websockets
youtube-transcript-api
zipp
